In [1]:
import pandas as pd

In [2]:
test_flight_profile = pd.read_csv("test-flight-profile.csv")
test_flight_profile

     phase   duration_min   altitude_ft   speed_kts   thrust_pct
0     taxi            5.0             0           0            7
1  takeoff            0.5          1500         200          100
2    climb           15.0         35000         280           85
3   cruise           60.0         35000         470           60
4  descent           20.0             0         250           30

In [4]:
engine_data = pd.read_csv("data/engine-data.csv")
engine_data

,Engine Family,Engine Model,Combustor,Fuel,Bypass Ratio,Pressure Ratio,Rated Thrust (kN),Phase,Power Setting (%),Fuel Flow (kg/s),Emission Index HC (g / kg fuel),Emission Index CO (g / kg fuel),Emission Index NOx (g / kg fuel)
0,CFM56,5B4,DAC-II,Jet A,5.9,27.7,120.1,TAKE-OFF,100,1.14,0.1,1.4,18.4
1,CFM56,5B4,DAC-II,Jet A,5.9,27.7,120.1,CLIMB OUT,85,0.95,0.2,3.6,13.6
2,CFM56,5B4,DAC-II,Jet A,5.9,27.7,120.1,APPROACH,30,0.34,5.3,29.1,6.5
3,CFM56,5B4,DAC-II,Jet A,5.9,27.7,120.1,IDLE,7,0.12,3.6,40.1,3.9