In [2]:
import pandas as pd

In [3]:
test_flight_profile = pd.read_csv("flight-profiles/test-flight-profile.csv")
test_flight_profile

       Phase  Duration (min)  Altitude (ft)  Speed (kts)  Thrust (%)
0       Taxi             5.0              0            0           7
1   Take-Off             0.5           1500          200         100
2  Climb Out            15.0          35000          280          85
3     Cruise            60.0          35000          470          60
4   Approach            20.0              0          250          30

In [4]:
engine_data = pd.read_csv("data/engine-data.csv")
engine_data

,Engine Family,Engine Model,Combustor,Fuel,Bypass Ratio,Pressure Ratio,Rated Thrust (kN),Phase,Power Setting (%),Fuel Flow (kg/s),Emission Index HC (g / kg fuel),Emission Index CO (g / kg fuel),Emission Index NOx (g / kg fuel)
0,CFM56,5B4,DAC-II,Jet A,5.9,27.7,120.1,TAKE-OFF,100,1.14,0.1,1.4,18.4
1,CFM56,5B4,DAC-II,Jet A,5.9,27.7,120.1,CLIMB OUT,85,0.95,0.2,3.6,13.6
2,CFM56,5B4,DAC-II,Jet A,5.9,27.7,120.1,APPROACH,30,0.34,5.3,29.1,6.5
3,CFM56,5B4,DAC-II,Jet A,5.9,27.7,120.1,IDLE,7,0.12,3.6,40.1,3.9

In [5]:
profile_duration_min = test_flight_profile['Duration (min)']
profile_duration_seconds = profile_duration_min * 60
print(profile_duration_seconds)

0     300.0
1      30.0
2     900.0
3    3600.0
4    1200.0
Name: Duration (min), dtype: float64

In [6]:
summary = pd.read_csv("output/emissions/summary.csv")
summary

,Phase,Duration (s),Fuel Flow (kg/s),Fuel Burned (kg),HC emissions (g),NOx emissions (g),CO emissions (g)
0,Taxi,300.0,1.14,342.0,34.2,6292.8,478.8
1,Take-Off,30.0,0.95,28.5,5.7,387.6,102.6
2,Climb Out,900.0,0.65,585.0,117.0,7897.5,585.0
3,Cruise,3600.0,0.34,1224.0,6487.2,7956.0,35618.4
4,Approach,1200.0,0.12,144.0,518.4,561.6,5774.4
5,Total,6030.0,NaN,2323.5,7162.5,23095.5,42559.2