In [3]:
import pandas as pd

In [4]:
test_flight_profile = pd.read_csv("test-flight-profile.csv")

In [5]:
test_flight_profile

     phase   duration_min   altitude_ft   speed_kts   thrust_pct
0     taxi            5.0             0           0            7
1  takeoff            0.5          1500         200          100
2    climb           15.0         35000         280           85
3   cruise           60.0         35000         470           60
4  descent           20.0             0         250           30